<!--start:search-->
<div ng-controller="ElasticSearchController">
	<div id="row">
		<div class="col-md-12">
			<p>

        <div class="input-group">
          <input id="term" 
                class="form-control input-lg" 
                ng-model="term"
                ng-keyup="onKeyUpSendTerm()" 
                type="text" 
                placeholder="I'm searching for..." 
                autocomplete="off"
          >

          <span class="input-group-btn">
            <span ng-if="term.length == 0">
              <button class="btn btn-default btn-lg" type="button">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>                 
              </button>
            </span>
            <!--
            <button class="btn btn-default btn-lg" type="button">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
              <span ng-if="jsonResponse.hits.total > 0">( {{ jsonResponse.hits.total }} )</span>
            </button>
            -->
            <span ng-if="term.length > 0">
              <button class="btn btn-default btn-lg" type="button">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
                <span ng-if="jsonResponse.hits.total > 0">( {{ jsonResponse.hits.total }} )</span>
              </button>
            </span>
          </span>

        </div>

        <span ng-if="term.length > 0">
          <div class="btn-group">
            <button class="btn btn-default btn-lg btn-block dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Order by <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Action</a>
              </li>
              <li>
                <a href="#">Another action</a>
              </li>
              <li>
                <a href="#">Something else here</a>
              </li>
              <li class="divider" role="separator"></li>
              <li>
                <a href="#">Separated link</a>
              </li>
            </ul>
          </div>
        </spaN>

        <br>

        <div class="media" ng-repeat="obj in jsonResponse.hits.hits">
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="modules/core/img/redhat-64.png" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <a>
                <span ng-bind="obj._source.colonia"></span>
              </a>
            </h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>

        <span ng-if="term.length > 0">
          <button class="btn btn-default btn-lg btn-block" type="button" aria-haspopup="true" aria-expanded="false">
            Load more 
          </button>
        </span>

        <!--
        <div class="table-responsive">
          <table class="table table-striped">
  
            <tbody>
              <tr ng-repeat="obj in jsonResponse.hits.hits">
                <td>
                  <span ng-bind="obj._id"></span>
                </td>
                <td>
                  <span ng-bind="obj._source.colonia"></span>
                </td>
                <td>
                  <span ng-bind="obj._source.delegacion"></span>
                </td>                          
              </tr>
            <tbody>

          </table>
        </div>
        -->

        <!--{{ term.length }}-->

			</p>
		</div>
	</div>

     <!--{{ term  }}-->

    <!--
    <pre> {{ jsonTerm | json }}</pre>
    <pre> Hits: {{ jsonResponse.hits.total | json }}</pre>
    -->
    <!--<pre> Result: {{ jsonResponse.hits.hits | json }}</pre>-->

    <!--    
    <hr>
    <div ng-repeat="obj in jsonResponse.hits.hits">

      <div class="row">
        <div class="col-md-12">
            
            <div id="{{obj._id}}" ng-click="coordenadas()">
              <blockquote>
                <h4>
                  Colonia: <a><span ng-bind="obj._source.colonia"></span></a>
                </h4>                  
                <h6>
                  <div ng-bind="obj._source.ciudad"></div>
                  Delegación: <span ng-bind="obj._source.delegacion"></span><br>
                  Latitud: <span id="latitud"><span ng-bind="obj._source.location.lat"></span></span><br>
                  Longitud: <span id="longitud"><span ng-bind="obj._source.location.lon"></span></span><br>                  
                  cp: <span ng-bind="obj._source.cp"></span><br>
                  id: <span ng-bind="obj._id"></span>
                </h6>
              </blockquote>
            </div>

        </div>
      </div>
      
    </div>
    -->

    <!--<pre> {{ jsonResponse |json }}</pre>-->


</div>	
	<!--end:search-->