<br>
<section class="row" data-ng-controller="ItemsController">
		
	<div class="col-md-6 col-md-offset-3">

		<div class="panel panel-default">
  			<div class="panel-body">

				<h2>
					<span ng-bind=" 'ITEM_NEW' | translate "></span>
				</h2>

				<form name="itemForm" data-ng-submit="create()" novalidate>
				
					<div class="form-group" ng-class="{ 'has-error': itemForm.name.$dirty && itemForm.name.$invalid }">
						<label class="control-label" for="name">
							<span ng-bind=" 'ITEM_NAME_LABEL' | translate "></span>
						</label>
						<div class="controls">
							<input name="name" type="text" data-ng-model="name" id="name" class="form-control input-lg" placeholder="{{ 'ITEM_NAME_PLACEHOLDER' | translate }}" required>
						</div>
					</div>

					<slug from="name" to="slug"></slug><!--generate slug from name field-->

					<div class="form-group" ng-class="{ 'has-error': itemForm.price.$dirty && itemForm.price.$invalid }">
						<label class="control-label" for="price">
							<span ng-bind=" 'ITEM_PRICE_LABEL' | translate "></span>
						</label>
						<div class="controls">
							<input name="price" type="text" data-ng-model="price" id="price" class="form-control input-lg" 
							placeholder="{{ 'ITEM_PRICE_PLACEHOLDER' | translate }}" required>
						</div>
					</div>

					<div class="form-group" ng-class="{ 'has-error': itemForm.sku.$dirty && itemForm.sku.$invalid }">
						<label class="control-label" for="sku">
							<span ng-bind=" 'ITEM_SKU_LABEL' | translate "></span>
						</label>
						<div class="controls">
							<input name="sku" type="text" data-ng-model="sku" id="sku" class="form-control input-lg" 
							placeholder="{{ 'ITEM_SKU_PLACEHOLDER' | translate }}" required>
						</div>
					</div>

					<div class="form-group" ng-class="{ 'has-error': itemForm.weight.$dirty && itemForm.weight.$invalid }">
						<label class="control-label" for="weight">
							<span ng-bind=" 'ITEM_WEIGHT_LABEL' | translate "></span>
						</label>
						<div class="controls">
							<input name="weight" type="text" data-ng-model="weight" id="weight" class="form-control input-lg" 
							placeholder="{{ 'ITEM_WEIGHT_PLACEHOLDER' | translate }}" required>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label" for="description">
							<span ng-bind=" 'ITEM_DESCRIPTION_LABEL' | translate "></span>
						</label>
						<div class="controls">
							<textarea name="description" data-ng-model="description" id="description" class="form-control input-lg" cols="30" rows="10" placeholder="{{ 'ITEM_DESCRIPTION_PLACEHOLDER' | translate }}"></textarea>
						</div>
					</div>

					<div class="form-group">				
						<button class="btn btn-default btn-lg btn-block" type="submit">
							<span ng-bind=" 'ITEM_SEND_BUTTON' | translate "></span>
						</button>
					</div>

					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>

				</form>

			</div>	
		</div>

	</div>

</section>