<section data-ng-controller="ItemsController" data-ng-init="findOneSlug()">


	<!--start:search-->
	<div ng-include src="'modules/search/views/box-search.client.view.html'"></div>
	<!--end:search-->


	<div class="col-md-6">
		<div class="panel panel-default">

			<div class="panel-body">

				<h1>
					<span data-ng-bind="item.name"></span> 
					<a href="#!/catalog/{{item.user.username}}"><small>@<span data-ng-bind="item.user.displayName"></span></small></a>
				</h1>					
				
				<h3>
					<strong>
						$ {{ 33.33 * cart.quatity | number:2 }} <small>MXN</small>
					</strong>
				</h3>
		
				<p>						
					<strong>Description:</strong>
				</p>

				<p>
					<span class="lead" data-ng-bind="item.description"></span>
				</p>

				<p>						
					<strong>Quantity:</strong>
				</p>

				<p>

					<div class="row">
					  <div class="col-lg-12">
					    <div class="input-group">

					      <span class="input-group-btn" data-ng-click="pushMinus()">
					        <button class="btn btn-default btn-lg" type="button">
					        	<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
					        </button>
					      </span>

					      <input ng-model="cart.quatity" type="text" class="form-control input-lg" placeholder="Quantity, ej: 10">

					      <span class="input-group-btn" data-ng-click="pushPlus()">
					        <button class="btn btn-default btn-lg" type="button">
					        	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					        </button>
					      </span>

					    </div>
					  </div>
					</div>

				</p>


				<a href="modules/core/img/django.jpg" id="morepics" type="button" 
					class="btn btn-default btn-lg btn-block" data-gallery>
					<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> 
					More pics
				</a>

				<button type="button" class="btn btn-default btn-lg btn-block" 
					data-target="#askAQuestion"
					data-toggle="modal"
				>
					<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ask a question
				</button>

				<!-- start:Modal -->
				<div class="modal fade" id="askAQuestion" tabindex="-1" role="dialog" aria-labelledby="askAQuestion">
				  	<div class="modal-dialog" role="document">
				    	<div class="modal-content">

			      			<div class="modal-header">
			        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			        				<span aria-hidden="true">&times;</span>
			        			</button>
			      			</div>

					      	<div class="modal-body">
					        	
					      	</div>
					      	
				    	</div>
				  	</div>
				</div>
				<!-- end:Modal -->

				<button id="addToCart" type="button" class="btn btn-default btn-lg btn-block">
					<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to cart
				</button>

			</div>

			<div class="panel-footer">

				<span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share: 
		
				<!--start:bootstrap social-->
				<a class="btn btn-social-icon btn-lg btn-twitter">
					<i class="fa fa-twitter"></i>
					</a>
				<a class="btn btn-social-icon btn-lg btn-pinterest">
					<i class="fa fa-pinterest"></i>
					</a>
				<a class="btn btn-social-icon btn-lg btn-facebook">
					<i class="fa fa-facebook"></i>
					</a>
				<a class="btn btn-social-icon btn-lg btn-google">
					<i class="fa fa-google-plus"></i>
					</a>
				<a class="btn btn-social-icon btn-lg btn-tumblr">
					<i class="fa fa-tumblr"></i>
					</a>					
				<!--end:bootstrap social-->

			</div>

		</div>
	</div>


	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-body">

				<div id="links">
					<a href="modules/core/img/django.jpg" data-gallery>
						<img src="modules/core/img/{{item.images[0].images}}" class="img-responsive center-block" alt="Responsive images">
					</a>
				</div>
				
				<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
				    <div class="slides"></div>
				    <h3 class="title"></h3>
				    <a class="prev">‹</a>
				    <a class="next">›</a>
				    <a class="close">×</a>
				    <!--<a class="play-pause"></a>-->
				    <ol class="indicator"></ol>
				</div>				

			</div>	

		</div>
	</div>	


	<!--Gallery-->
	<div id="links">
	    <a href="modules/core/img/django.jpg" title="Banana" data-gallery>
	        <img src="images/thumbnails/banana.jpg" alt="Banana">
	    </a>
	    <a href="modules/core/img/django.jpg" title="Apple" data-gallery>
	        <img src="images/thumbnails/apple.jpg" alt="Apple">
	    </a>
	    <a href="modules/core/img/django.jpg" title="Orange" data-gallery>
	        <img src="images/thumbnails/orange.jpg" alt="Orange">
	    </a>
	</div>	
	<!--Gallery-->


	<!--beta-->
	<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
	<div id="blueimp-gallery" class="blueimp-gallery">
	    <!-- The container for the modal slides -->
	    <div class="slides"></div>
	    <!-- Controls for the borderless lightbox -->
	    <h3 class="title"></h3>
	    <a class="prev">‹</a>
	    <a class="next">›</a>
	    <a class="close">×</a>
	    <a class="play-pause"></a>
	    <ol class="indicator"></ol>
	    <!-- The modal dialog, which will be used to wrap the lightbox content -->
	    <div class="modal fade">
	        <div class="modal-dialog">
	            <div class="modal-content">

	                <div class="modal-header">
	                    <button type="button" class="close" aria-hidden="true">&times;</button>
	                    <h4 class="modal-title"></h4>
	                </div>

	                <div class="modal-body next"></div>

	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default pull-left prev">
	                        <i class="glyphicon glyphicon-chevron-left"></i>
	                        Previous
	                    </button>
	                    <button type="button" class="btn btn-default next">
	                        Next
	                        <i class="glyphicon glyphicon-chevron-right"></i>
	                    </button>
	                </div>

	            </div>
	        </div>
	    </div>
	</div>

</section>
