<br>
<section class="row" data-ng-controller="SettingsController">

	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
  			<div class="panel-body">

  				<h1 class="text-center">
  					<span ng-bind=" 'CHANGE_YOUR_PASSWORD' | translate "></span>
  				</h1>

				<form data-ng-submit="changeUserPassword()" autocomplete="off">
					<div class="form-group">
						<label for="currentPassword">
							<span ng-bind=" 'CURRENT_PASSWORD' | translate "></span>
						</label>
						<input type="password" id="currentPassword" name="currentPassword" class="form-control input-lg" data-ng-model="passwordDetails.currentPassword" placeholder="{{ 'CURRENT_PASSWORD' | translate }}">
					</div>
					<div class="form-group">
						<label for="newPassword">
							<span ng-bind=" 'NEW_PASSWORD' | translate "></span>
						</label>
						<input type="password" id="newPassword" name="newPassword" class="form-control input-lg" data-ng-model="passwordDetails.newPassword" placeholder="{{ 'NEW_PASSWORD' | translate }}">
					</div>
					<div class="form-group">
						<label for="verifyPassword">
							<span ng-bind=" 'VERIFY_PASSWORD' | translate "></span>
						</label>
						<input type="password" id="verifyPassword" name="verifyPassword" class="form-control input-lg" data-ng-model="passwordDetails.verifyPassword" placeholder="{{ 'VERIFY_PASSWORD' | translate }}">
					</div>
					<div class="text-center form-group">
						<button class="btn btn-default btn-lg btn-block" type="submit">
							<span ng-bind=" 'SAVE_PASSWORD' | translate "></span>
						</button>
					</div>
					<div data-ng-show="success" class="text-center text-success">
						<strong>
							<span ng-bind=" 'PASSWORD_CHANGED_SUCCESSFULLY' | translate "></span>
						</strong>
					</div>
					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</form>

			</div>
		</div>
	</div>	

</section>
