<br>
<section class="row" data-ng-controller="SettingsController">


	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
  			<div class="panel-body">

  				<h1 class="col-md-12 text-center" data-ng-show="hasConnectedAdditionalSocialAccounts()">
					Connected social accounts:
  				</h1>

				<div data-ng-repeat="(providerName, providerData) in user.additionalProvidersData" class="remove-account-container">
					<img ng-src="/modules/users/img/buttons/{{providerName}}.png">
					<a class="btn btn-danger btn-remove-account" data-ng-click="removeUserSocialAccount(providerName)">
						<i class="glyphicon glyphicon-trash"></i>
					</a>
				</div>

  			</div>
		</div>
	</div>


	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
  			<div class="panel-body">

  				<h1>
  					Connect other social accounts:
  				</h1>

				<!--start:social-->
				<div ng-include src="'modules/users/views/authentication/social.client.view.html'"></div>
				<!--end:social-->

  			</div>
		</div>
	</div>


</section>