<section data-ng-controller="CartsController" data-ng-init="find()">


	<!--start:search-->
	<div ng-include src="'modules/search/views/box-search.client.view.html'"></div>
	<!--end:search-->

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-body">

				<h2>
					<span ng-bind=" 'MY_CART' | translate "></span>
				</h2>

				<hr>

				<div class="media">
					<div class="media-left media-middle">
				    	<a href="#">
				      		<img class="media-object" src="modules/core/img/redhat-64.png" alt="...">
				    	</a>
				  	</div>
				  	<div class="media-body">
				    	<h4 class="media-heading">Middle aligned media</h4>
				    	<p>
				    		Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				    	</p>
				  	</div>
				</div>

				<div class="media">
					<div class="media-left media-middle">
				    	<a href="#">
				      		<img class="media-object" src="modules/core/img/redhat-64.png" alt="...">
				    	</a>
				  	</div>
				  	<div class="media-body">
				    	<h4 class="media-heading">Middle aligned media</h4>
				    	<p>
				    		Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				    	</p>
				  	</div>
				</div>

				<div class="media">
					<div class="media-left media-middle">
				    	<a href="#">
				      		<img class="media-object" src="modules/core/img/redhat-64.png" alt="...">
				    	</a>
				  	</div>
				  	<div class="media-body">
				    	<h4 class="media-heading">Middle aligned media</h4>
				    	<p>
				    		Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				    	</p>
				  	</div>
				</div>

			</div>
		</div>

	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-body">

				<h2>
					<span ng-bind=" 'SUMMARY' | translate "></span>
				</h2>

				<hr>

				<dl class="dl-horizontal">

				  	<dt>
				  		<span ng-bind=" 'SUBTOTAL' | translate "></span>
				  	</dt>
				  	<dd>
				  		<p class="text-right">$24.59</p>
				  	</dd>

				  	<dt>
						<span ng-bind=" 'ESTIMATED_SHIPPING' | translate "></span>
				  	</dt>
				  	<dd>
				  		<p class="text-right">$6.94</p>
				  	</dd>

				  	<dt>
						<span ng-bind=" 'TOTAL' | translate "></span>
				  	</dt>
				  	<dd>
				  		<p class="text-right">$31.53</p>
				  	</dd>

				</dl>
				<!--
				<button type="button" class="btn btn-default btn-lg btn-block">
					Update Cart
				</button>
				-->				
				<button type="button" class="btn btn-danger btn-lg btn-block">
					<span ng-bind=" 'CHECK_OUT' | translate "></span> 
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</button>

				<button type="button" class="btn btn-default btn-lg btn-block">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
					<span ng-bind=" 'CONTINUE_SHOPPING' | translate "></span> 
				</button>

			</div>
		</div>

	</div>


	<div class="list-group">
		<a data-ng-repeat="cart in carts" data-ng-href="#!/carts/{{cart._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="cart.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="cart.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="cart.title"></h4>
			<p class="list-group-item-text" data-ng-bind="cart.content"></p>
		</a>
	</div>


</section>